a.fog_info {
    text-decoration:none;
    color: #C86432;
}

a.fog_info:hover {
    text-decoration:underline;
}

a.glathida_info {
    text-decoration:none;
    color: #FF0000;
}

a.glathida_info:hover {
    text-decoration:underline;
}

a.glims_info {
    text-decoration:none;
    color: #FF3491;
}

a.glims_info:hover {
    text-decoration:underline;
}

a.glims_regions {
    text-decoration:none;
    color: #00C8FF;
}

a.glims_regions:hover {
    text-decoration:underline;
}

a.gpc_info {
    text-decoration:none;
    color: #FF0000;
    background-color: #FFFF00;
}

a.gpc_info:hover {
    text-decoration:underline;
}

a.rgi_info {
    text-decoration:none;
    color: #00DD44;
}

a.rgi_info:hover {
    text-decoration:underline;
}

a.wgi_info {
    text-decoration:none;
    color: #00C8C8;
}

a.wgi_info:hover {
    text-decoration:underline;
}

.container-fluid {
    padding: 0px;
    height: 100%;
    width: 100%;
}

html, body {
    height: 100%;
    width: 100%;
}

#infomap {
    height: 500px;
    border: 1px solid black;
}

#map {
    height: 100%;
    width: 100%;
    position: absolute;
    padding: 0px;
}

.modal-body {
    overflow-y: auto;
}

.modal-lg {
    width: 90%;
}

#over {
    position: absolute;
    top: 10px;
    z-index: 99;
}

#wrapper {
    position: relative;
}
